<div id="vFireDiv">
<div>
    <br/>
    <div id="completedCountDiv"></div>
    <div id="vFireChartDiv" style="margin: 0 auto; /*background-color: #eaf4ff;*/">
    </div>
    <div id="Legend"></div>
    <br/>
    <br/>
    <p><center>Select Start Date and End Date for query: </center></p>
    <div>Start Date: </div>
    <div id="startDate"></div>
    <div>End Date: </div>
    <div id="endDate"></div>
    <div id="clear-results"></div>
    <div id="submit"></div>
    <br>
    <br>
    <div id="yesterday"></div>
    <div id="lastWeek"></div>
    <div id="Original"></div>


</div>
</div>