<div id="vFireDiv">
<div>
    <p>Hover over the pie chart for details.</p>
    <div id="vFireChartDiv" style="margin: 0 auto;">
    </div>
</div>
<div id="links">
    <p>Click on links below to access information concerning projects which could not be shown on the map: </p>
    <a href="assets/downloads/EconomicDevelopmentFiscalYear2014.pdf" target="_blank">Statewide and Regional Economic Development Projects</a><p>
    <a href="assets/downloads/EducationFiscalYear2014.pdf" target="_blank">Statewide and Regional Education Projects</a><p>
    <a href="assets/downloads/HealthAndEnvironmentFiscalYear2014.pdf" target="_blank">Statewide and Regional Health and Environment Projects</a><p>
    <a href="assets/downloads/OtherFiscalYear2014.pdf" target="_blank">Statewide and Regional Other Projects</a><p>
    <a href="assets/downloads/PublicSafetyAndSaferNeighborhoodsFiscalYear2014.pdf" target="_blank">Statewide and Regional Public Safety and Safer Neighborhoods Projects</a><p>
    <a href="assets/downloads/TransportationFiscalYear2014.pdf" target="_blank">Statewide and Regional Transportation Projects</a>
</div>
</div>