<div id='PrintMenu' style='padding-left:4px'>

            <label for="selPrintLayout">Layout Options:</label></br>
            <div id="selPrintLayout"></div></br>
            <label for="taPrintNotes">Notes (Optional):</label></br>
            <textarea id="taPrintNotes"></textarea></br>
            <button id="printbutton"></button>
            <img id="loadingImg" src="Assets/loading.gif" style="position:absolute; left:75px; bottom:60px; z-index:100;display:none;" /></br>
            <label for="printbutton">* Please make sure all pop-up blockers are disabled.</label></br>
            <div id="darkLayer" class="darkClass" style="display:none"></div>
</div>