#SewerSearchBrowse{
    padding: 0 0.3em;
    text-align: center;
}

#ClearResults_label{
    display: block !important;
    height:25px;
    line-height:25px;
}

#GOIDSearch {
    width: 80px; !important;
}
#grid {
    width: 100%;
}

#grid .dgrid-row-odd {
    background: #F2F5F9;}
.dgrid-row {cursor: pointer; }
.field-id { cursor: pointer; }
.dgrid-column-id {
    width: 4em;
}