#SewerSearchBrowse{
    padding: 0 0.3em;
    text-align: center;
}

#ClearResults_label{
    display: block !important;
}

#grid {
    width: 100%;
}

#grid .dgrid-row-odd {
    background: #F2F5F9;}
.field-id { cursor: pointer; }
.field-street { cursor: pointer; }